main {
  z-index: 0;
  position: relative;
}

div {
  z-index: 0;
  position: relative;
}

.page-header {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
}

.header-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}



.profile-image {
  width: 200px; /* Adjust based on your image size */
  height: 200px; /* Adjust based on your image size */
  margin-right: 20px; /* Space between the image and text */
  max-width: 200px; /* Adjust based on your image size */
  max-height: 200px; /* Adjust based on your image size */
}

/* Mobile styles */
@media (max-width: 768px) {
  .profile-image {
    width: 130px; /* Adjust based on your image size */
    height: 130px; /* Adjust based on your image size */
  }
  .header-content {
    margin: 5%;
  }

}

.description {
  padding-top: 0; /* Remove the previous padding-top if unnecessary */
  margin: 0; /* Ensure no margin for better control */
  line-height: 1.5; /* Adjust line height for better readability */
  align-items: center !important;
  text-align: left !important;
}


.iframe-container {
  display: flex;
  padding: auto;
  margin: auto;
  justify-content: center; /* Centers the iframe horizontally */
  align-items: center; /* Optional: centers vertically if needed */
  height: 100%; /* Ensure the container takes the full height of the parent */
  width: 100%;
  max-width: 1000px;
}

@media (max-width: 768px) {
  .iframe-container {
    display: flex;
    width: 90%;
    margin: 5%;
  }  

}


.myhead{
  padding-top: 5%;
  border-bottom: 2px solid rgb(190, 187, 187);
  padding-bottom: 5%;
}


.hamburger-click-area {
  /* position: absolute; */
  /* display: inline-block; */
  float: right;
  padding-right: 10%;
}

.hamburger {
  cursor: pointer;
  padding-right: 5%;
  /* right: 1; */
}

.hamburger i {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

.popup-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  /* padding-top: 5px; */
  width: 10%;
  z-index: 1000;
  
  float: right;
  padding-right: 100px;
  top: 100%;
  opacity: 1;
}

.popup-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1000000;
  position: relative;
}

.popup-menu ul li {
  padding: 10px;
  text-align: center;
  z-index: 1000000;
  z-index: 1000000;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  
}

.popup-menu ul li a {
  text-decoration: none;
  color: #333;
  z-index: 1000000;
  z-index: 1000000;
  position: relative;
  color:rgb(131, 131, 131);
}

.hamburger-click-area:click.popup-menu {
  display: block;
}

@media (min-width: 768px) {
  .hamburger-click-area {
    display: none;
  }
}

@media (max-width: 768px) {
  p{
    margin-top: 10%;
  }
}