main {
  z-index: 0;
  position: relative;
}

div {
  z-index: 0;
  position: relative;
}

.myhead{
  padding-top: 5%;
  border-bottom: 2px solid rgb(190, 187, 187);
  padding-bottom: 5%;
}


.hamburger-click-area {
  /* position: absolute; */
  /* display: inline-block; */
  float: right;
  padding-right: 10%;
}

.hamburger {
  cursor: pointer;
  padding-right: 5%;
  /* right: 1; */
}

.hamburger i {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}

.popup-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  /* padding-top: 5px; */
  width: 10%;
  z-index: 1000;
  
  float: right;
  padding-right: 100px;
  top: 100%;
  opacity: 1;
}

.popup-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1000000;
  position: relative;
}

.popup-menu ul li {
  padding: 10px;
  text-align: center;
  z-index: 1000000;
  z-index: 1000000;
  position: relative;
}

.popup-menu ul li a {
  text-decoration: none;
  color: #333;
  z-index: 1000000;
  z-index: 1000000;
  position: relative;
}

.hamburger-click-area:click.popup-menu {
  display: block;
}

@media (min-width: 768px) {
  .hamburger-click-area {
    display: none;
  }
}
