.project-module {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  
}

.project-content h2 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 8px;
}

.project-content .date {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}

.project-content .role {
  font-size: 1.0em;
  font-weight: bold;
  color: #555;
  margin-bottom: 12px;
}

.project-content p {
  font-size: 0.95em;
  color: #666;
  line-height: 1.6;
}








main {
  z-index: 0;
  position: relative;
  /* float: left; */
}

div {
  z-index: 0;
  position: relative;
}

.myhead{
  padding-top: 5%;
  border-bottom: 2px solid rgb(190, 187, 187);
  padding-bottom: 5%;
}


.hamburger-click-area {
  /* position: absolute; */
  /* display: inline-block; */
  float: right;
  padding-right: 10%;
}

.hamburger {
  cursor: pointer;
  padding-right: 5%;
  /* right: 1; */
}

.hamburger i {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

.popup-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  /* padding-top: 5px; */
  width: 10%;
  z-index: 1000;
  
  float: right;
  padding-right: 100px;
  top: 100%;
  opacity: 1;
}

.popup-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1000000;
  position: relative;
}

.popup-menu ul li {
  padding: 10px;
  text-align: center;
  z-index: 1000000;
  z-index: 1000000;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  
}

.popup-menu ul li a {
  text-decoration: none;
  color: #333;
  z-index: 1000000;
  z-index: 1000000;
  position: relative;
  color:rgb(131, 131, 131);
}

.hamburger-click-area:click.popup-menu {
  display: block;
}

@media (min-width: 768px) {
  .hamburger-click-area {
    display: none;
  }
}


@media (max-width: 768px) {
  main {
      width: 80%;
      /* other styles for mobile */
  }
}

